@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Name</h1>
    <p>
        <a href="https://instagram.com/bug__developer">Learn More</a><br />
        Using this you can learn how to Implement Resource Based Authorization In Asp .net core <br />
        using Requirment's and Handlers Thanks ❤</p>
</div>
